@import '../App/global.scss';

$menu-speed: .75s;
$overlay-color: rgba(24, 39, 51 , 0.85);

.navbar__container {
  z-index: 10;
  position: fixed;
  // width:100%;
  width: calc(100% - 72px);
  margin: 2em auto;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  mix-blend-mode: exclusion;
}

.logo {
  top: -5px;
  left: 0;
  z-index: 15;
  margin-left: 36px;
  font: 600 20px $montserrat;
  color: $gold;
  text-decoration: none;
  // padding-left: 10px;
  visibility: hidden;
}


.cta {
  position: fixed;
  mix-blend-mode: difference;
  font: 500 20px $hepta;
  color: $gold;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 15;
  top: 0;
  right: 4%;
  visibility: hidden;
  transition: all .4s cubic-bezier(1,.25,0,.75);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
      to right,
      #FFE9BC,
      $gold 50%);
  background-size: 200% 100%;
  background-position: 100%;
  &:hover {
    background-position: 0%;
  }
}

// Hamburger
.toggler {
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
  top: -5px;
  right: 0;
  margin: 2em auto;
  z-index: 20;
  outline: none;
  position: fixed;
  padding-right: 20px;
}
.hamburger {
  padding-right: 20px;

  outline: none;
  position: fixed;
  top: -5px;
  right: 0;
  margin: 2em auto;
  z-index: 15;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: difference;
  border-radius: 50%;
  isolation: isolate;
}
.hamburger > div {
  position: relative;
  width: 50%;
  height: 2px;
  background: $gold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: all .4s ease;
}
.hamburger > div:before,
.hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -8px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.hamburger > div:after {
  top: 8px;
}
// .toggler:hover + .hamburger > div {
//   transform: rotate(45deg);
// }

.toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
.toggler:checked + .hamburger > div:before, 
.toggler:checked + .hamburger > div:after {
  top: 0;
  width: 100%;
  transform: rotate(90deg);
}
.toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

@media only screen and (min-width: 1080px) {
  // .cta {
  //   right: 10%;
  // }
  .navbar__container {
    // width: calc(100% - 240px);
    // margin: 2em auto;
    width: 100%;
  }
  .navbar__items {
    visibility: visible;
  }
  .navbar__menu .hamburger, .navbar__menu .toggler, .cta {
    margin: 2em 110px;
  }
  .logo {
    margin-left: 110px;
    padding-left: 20px;
  }
  .cta, .logo {
    visibility: visible;
  }
}

