@import '../App/global.scss';

.footer {
  position: relative;
  z-index: 0;
  background: white;
}
.footer__backgroundImage {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -10;
}
.footer__overlay {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, .85);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(2, 1fr);
}
.footer__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  font-family: $hepta;
  width: 600px;
}
.footer__top {
  width: calc(600px - 10%);
  padding-left: 10%;
  height: 100px;
  background: black;
  color: $darkGold;
  font: 600 36px $montserrat;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  grid-row: 1;
}
.footer__left, .footer__right {
  height: 200px;
  grid-row: 2;
  // padding: 10% 0 0 10%;
}
.footer__left {
  width: calc(300px - 10%);
  background: $darkGold;
  color: $lightGold;
  padding-left: 10%;
  padding-top: 10%;
  .footer__header {
    font-weight: 600;

  }
}
.footer__right {
  width: calc(300px - 10%);
  padding-left: 10%;
  padding-top: 10%;
  background: white;
  color: $darkGold;

  &--large {
    font-size: 20px;
  }
}