@import '../App/global.scss';

.footer {
  position: relative;
  z-index: 0;
  background: white;
  color: $darkGold;
  line-height: 1.8;
  text-transform: uppercase;
  font-size: 14px;
}
.footer__backgroundImage {
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -30;
}
.footer__overlay {
  width: 100vw;
  background: rgba(0, 0, 0, .85);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__grid {
  display: grid;
  font-family: $hepta;
  width: 100%;
}
.footer__top {
  width: 100%;
  padding-left: 10%;
  height: 100px;
  background: $black;
  font: 600 36px $montserrat;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.footer__item {
  // font-size: 10px;
  text-decoration: none;
  color: inherit;
}
.footer__nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer__left {
  width: 100%;
  height: 300px;
  background: $darkGold;
  color: $lightGold;
  padding-left: 10%;
  padding-top: 10%;

  .footer__header {
    font-weight: 600;
    letter-spacing: 3px;
    padding: 0 0 10px;
  }
}
.footer__right {
  width: 100%;
  height: 150px;
  padding-left: 10%;
  padding-top: 10%;
  background: $grey;
  grid-row: 2;
  position: relative;
  font-size: 12px;
  font-weight: 700;
  z-index: 0;

  &--large {
    font-size: 20px;
  }
  .footer__image {
    position: absolute;
    right: 10%;
    bottom: 30%;
    z-index: -1;
  }
}
@media only screen and (min-width: 1080px) {
  .footer {
    letter-spacing: 2px;
  }
  .footer__item {
    font-size: 10px;
  }
  .footer__overlay {
    height: 100vh;
  }
  .footer__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 600px;
  }
  .footer__top {
    width: calc(600px - 10%);
    padding-left: 10%;
    height: 100px;
    font: 600 36px $montserrat;
    grid-row: 1;
  }
  .footer__left, .footer__right {
    height: 200px;
    grid-row: 2;
  }
  // .footer__left {
  //   width: calc(300px - 10%);
  //   padding-left: 10%;
  //   padding-top: 5%;
  // }
  .footer__right, .footer__left {
    width: calc(300px - 10%);
    padding-left: 10%;
    padding-top: 5%;
    
    &--large {
      font-weight: 600;
      font-size: 20px;
    }
    .footer__image {
      right: 0;
      bottom: 0;
    }
  }
}