@import '../App/reset.scss';


// Color Scheme
$indigo: #1D325A;
$grey: #eeeeee;
$green: #33c48d;


// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
$montserrat:'Montserrat', sans-serif;

// * {
//   // outline: 2px solid red;
// }

