@import '../App/reset.scss';


// Color Scheme
$grey: #eeeeee;
$white: #FEFEF3;
$offWhite: #D5D5D5;
$black: #161D25;
$gold: #C7A47A;
$darkGold: #BC994D;
$darkGrey: #333232;
$lightGold: #ECD7AB;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
$montserrat:'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Hepta+Slab&display=swap');
$hepta: 'Hepta Slab', serif;

// // Background Colors
@function colorSwap($color) {
  @if (lightness($color) > 60) {
    @return $black; // Lighter background, return dark color
  } @else {
    @return $white; // Darker background, return light color
  }
}

html, body {
  margin: 0;
  padding: 0;
  z-index: 1;
  max-width: 100%;
  height: auto;
  overflow-x: hidden;
}

// $landing: 
