@import '../App/reset.scss';


// Color Scheme
$indigo: #1D325A;
$grey: #eeeeee;
$green: #33c48d;
$white: #F7F7F7;
$black: #060A12;


// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');
$montserrat:'Montserrat', sans-serif;

// // Background Colors
@function colorSwap($color) {
  @if (lightness($color) > 60) {
    @return $black; // Lighter background, return dark color
  } @else {
    @return $white; // Darker background, return light color
  }
}

// $landing: 
