@import '../App/global.scss';

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10% 0;
  background: $grey;
}
.about__container {
  display: grid;
  grid-template-areas: ". desc ."
  "leftText image rightText";
  grid-template-columns: 1fr 30% 1fr;
  font-family: $roboto;
  align-items: center;
  justify-items: center;
  position: relative;
}
.about__description {
  font-size: 36px;
  width: 650px;
  grid-area: desc;
  // height: 100vh;
}
.about__header {
  // width: 80%;
  margin: 0 auto;
  color: #48495A;
  // display: flex;
  // flex-direction: column;
  // font-family: $montserrat;

  &--left {
    grid-area: leftText;
    font-size: 17px;
    line-height: 1.3;
  }
  &--right {
    grid-area: rightText;
    // padding: 10% 0;
    font-size: 22px;
    font-weight: 800;
  }
}
.about__image {
  grid-area: image;
  width: fit-content;

  &--left, &--right {
    position: relative;
  }
}
.services {
  display: flex;
  color: $black;
}
.service__container {
  grid-area: about__service;
  // color: $offWhite;
  padding: 64px 0;
  max-width: 500px;
  font-family: $montserrat;
  margin: 0 4%;

  *{
    margin: 13px 0;

  }

  .service__header {
    font-size: 18px;
    font-weight: 500;
  }
  .service__description {
    margin: 1.5vw 0 0;
    font-size: 16px;
    line-height: 1.5;

  }
  .service__items {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
  }
}

  
  .parallax__iphone {
    grid-area: image;
    position: absolute;
    transform: scale(.8) translate(-50%);
    // height: 60vh!important;
    
    &--shell {
      // bottom: 0;
      // left: -8%;
    }
    &--screen {
      z-index: 2;
      // left: -2%;
      // bottom: 5%;
    };
    &--logo {
      z-index: 3;
      // bottom: 10%;
      // left: 4%;
    }
    &--burger {
      z-index: 4;
      // bottom: 10%;
      // left: 1%;
    }
  }
// }
@media only screen and (min-width: 1080px) {
  .about {
    padding: 140px 10%;
    width: 80%;
  }
  .about__header {
    flex-direction: row;
    
    &--left {
      font-size: 30px;
    }
    &--right {
      padding: 0;
      font-size: 50px;
    }
  }
  .about__placeholderImage {
    padding-top: 100px;
  }
  .service__container {
    img {
      width: 300px;
    }
  }
}