@import '../../App/global.scss';

.home__services {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background: $grey;
  font-family: $montserrat;
}
.home__services__wrap {
  scroll-snap-type: x mandatory;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  height: auto;
}
.home__services__header {
  padding-top: 5%;
  font: 500 30px $hepta;
  color: $gold;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}
.home__service__container {
  flex: 0 0 auto;
  margin: 5%;
  width: auto;
  scroll-snap-align: center;

  *{
    margin: 13px 0;

  }
  img {
    width: 300px;
  }
  .home__service__header {
    font-size: 16px;
    font-weight: 500;
    font-family: $hepta;
  }
  .home__service__description {
    margin: 1.5vw 0 0;
    font-size: 14px;
    line-height: 1.6;

  }
}
.home__service__items {
  font-size: 14px;
  font-weight: 500;
  opacity: .6;
}

@media only screen and (min-width: 1080px) {
  .home__services__wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .home__service__container {
    padding: 64px 0;
    max-width: 350px;
    margin: 0 4%;

  // grid-area: about__service;
  // max-width: 500px;
  // font-family: $montserrat;
  // margin: 0 4%;
    img {
      width: 300px;
    }
    .home__service__header {
      font-size: 18px;
    }
    .home__service__description {
      font-size: 12px;
    }
    .home__service__items {
      font-size: 12px;
    }
 
  }
}