@import '../../App/global.scss';

.home__services {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background: $grey;
}
.home__service__container {
  grid-area: about__service;

  max-width: 500px;
  font-family: $montserrat;
  margin: 0 4%;

  *{
    margin: 13px 0;

  }
  img {
    width: 300px;
  }
  .home__service__header {
    font-size: 16px;
    font-weight: 500;
    font-family: $hepta;
  }
  .home__service__description {
    margin: 1.5vw 0 0;
    font-size: 14px;
    line-height: 1.6;

  }
  .home__service__items {
    font-size: 14px;
    font-weight: 500;
    // margin-top: 24px;
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    opacity: .8;
  }
}

@media only screen and (min-width: 1080px) {
  .home__services {
    flex-direction: row;
    justify-content: center;
  }
  .home__service__container {
    padding: 64px 0;
    max-width: 350px;

    img {
      width: 300px;
    }
    .home__service__header {
      font-size: 18px;
    }
    .home__service__description {
      font-size: 12px;
    }
    .home__service__items {
      font-size: 12px;
    }
 
  }
}